<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<table class="entries__table">
  <thead>
    <tr>
      <th class="entries___time">Created</th>
      <th class="entries___foods">Foods</th>
      <th class="entries___activities">Activities</th>
      <th class="entries___feelings">Feelings</th>
      <th class="entries___pains">Pains</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= link_to time_ago_in_words(entry.created_at), entry %></td>
        <td><%= entry.foods %></td>
        <td><%= entry.activities %></td>
        <td><%= entry.feelings %></td>
        <td><%= entry.pains %></td>
        <td ><%= link_to 'Delete', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>

<br><br>

<%# How can I access @entries in my home folder?  %>

<table>
  <% create_sorted_foods_tally.each_pair do |k,v| %>
    <tr>
      <td><%= v %></td>
      <td><%= k %></td>
    </tr>
  <% end %>
</table>