<p id="notice"><%= notice %></p>

<p>
  <strong>Foods:</strong>
  <%= @entry.foods %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @entry.activities %>
</p>

<p>
  <strong>Feelings:</strong>
  <%= @entry.feelings %>
</p>

<p>
  <strong>Pains:</strong>
  <%= @entry.pains %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
