<p id="notice"><%= notice %></p>

<p>
  <strong>Foods:</strong>
  <%= @entry.foods %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @entry.activities %>
</p>

<p>
  <strong>Feelings:</strong>
  <%= @entry.feelings %>
</p>

<p>
  <strong>Pains:</strong>
  <%= @entry.pains %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> 
<br> <br>
<%= link_to 'Back', entries_path %>
<br> <br>
<%= link_to 'Delete', @entry, method: :delete, data: { confirm: 'Are you sure?' } %>
